page-add {

  .scroll {
    height: 100%
  }

  #map {
    width: 100%;
    height: 40%;
  }

  #h{
    color: red;
  }

  img{
    height: 90px;
    border: solid 1px black;
    margin-left: 1em;
    margin-top: 1em;
  }

}

.toast-error {
  > div{
       background-color: red!important;
   }
}

.toast-success {
  > div{
       background-color:#32db64!important;
   }
}
